.NavBar-Style {
  background-color: #fff;
  height: 36px;
  width: 100vw;
  padding: 16px 24px;
  box-shadow: 0px 5px 3px black;
}

.animation-Hover:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.animation-Hover:hover:after {
  width: 100%;
  left: 0;
}

.Nav-Style {
  padding: 0 2vw;
  width: 40%;
  justify-content: space-evenly;
}

.Nav-img {
  height: 32px;
  margin: 16px auto;
}
