.featureItems-Style {
  min-height: 85vh;
  background-color: var(--secondary-color);

  text-align: center;
  padding: calc(10vh + 40px) 5vw 0vh 5vw;
}

.carousel-inner {
  width: 80% !important;
  margin: 0 auto !important;
}
@media (max-width: 600px) {
  .featureItems-Style {
    padding: 5vh 5vw 10vh 5vw;
  }
}
