* {
  --primary-color: #b8a5b9;
  --primary-color-text: #000;
  --secondary-color: #f7e9f7;
  --secondary-color-text: #000;
  --standard-color: #000;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: var(----standard-color);
  font-weight: 800;
  font-size: 48px;
  margin: 0;
  padding: 8px 0;
}
h2 {
  color: var(----standard-color);
  font-weight: 700;
  font-size: 36px;
  margin: 0;
  padding: 8px 0;
}
h3 {
  color: var(----standard-color);
  font-weight: 600;
  font-size: 28px;
  margin: 0;
  padding: 8px 0;
}
h4 {
  color: var(----standard-color);
  font-weight: 500;
  font-size: 22px;
  margin: 0;
  padding: 8px 0;
}

p {
  color: var(----standard-color);
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding: 8px 0;
}
